/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Poppins:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Noto+Sans+Arabic:wght@100..900&family=Poppins:wght@200;300;400;500;600;700;900&display=swap");

/*global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Arabic", Tahoma;
}

:root{
    --main-color:#b953d1;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:var(--main-color);
}

.container {
  width: 450px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}
.container .info h1 {
  font-family: "lalezar", Tahoma;
}
.container form {
  margin: 15px 0 25px;
}
.container form :where(input, button) {
    outline: 0;
    border: 0;
    width: 100%;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}
.container form input{
    border: 1px solid #999;
}
.container form button{
    background:var(--main-color);
    color: #fff;
    cursor: pointer;
}
.container .qr-code{
    border: 1px solid #999;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}
.hidden{
    display: none;
}